<section>
  <div class="row">
    <div class="col-8">
      <strong>
        <%= link_to circuit.name, circuit_path(circuit) %>
      </strong>
      <small><em>
        submitted by
        <%= link_to circuit.submitter.username, user_path(circuit.submitter) %>
      </em></small>
    </div>
    <div class="col-2">
      <small>
        Difficulty: <%= circuit.difficulty %>
      </small>
    </div>
    <div class="col-2">
      <small>
        Stars: <%= circuit.favorited_users.length %>
      </small>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <em><%= circuit.description %></em>
    </div>
  </div>

  <% if circuit.article %>
    <div class="row">
      <div class="col">
        <article>
          <small><%= article_summary(circuit.article) %></small>
        </article>
      </div>
    </div>
  <% end %>
</section>
