<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @circuit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @circuit.description %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @circuit.difficulty %>
</p>

<p>
  <strong>Favorited:</strong>
  <%= @circuit.favorited_users.length %>
</p>

<p>
  <strong>Article:</strong>
  <%= @circuit.article.body %>
</p>

<%= link_to 'Edit', edit_circuit_path(@circuit) %> |
<%= link_to 'Destroy', @circuit, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<%= link_to 'Back', circuits_path %>
